body {
  padding: 0.5rem;
}

table {
  width: 100%;
}

thead {
  background-color: #333;
  color: beige;
}
th,
td {
  text-align: left;
  padding: 16px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
